
$iris: #705fc5;
$green: #45bd62;
$lightBlue: #3d9ee8;
$dGray: #292b2d;
$silver: #cccfd5;
$steel: #83879e;
$steel2: rgba(121, 128, 142, 0.8);
$paleGray: #f4f5fa;
$white: #ffffff;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

.transOrigin{
-webkit-transform-origin: 305px 160px;
        transform-origin: 305px 160px;
}

@include placeholder {
    color: $silver;
}

.overflowyhid{
  overflow-y: hidden;
}

textarea, input, html, body { font-family: 'MuseoSansCyrl';text-shadow: 0 0 0.05px #d7d9ea;/*font-size: calc(1rem + 2vw);*/ };
hr {
    background-color: #eaeaea;
    border: none;
    display: block;
    height: 1px;
    margin: 100px auto;
    width: 90vw;
};
footer{
  color: $dGray;
  font-weight: 500;
  background-color: $white;
  padding: 26px 60px;
}
.level:not(:last-child) {
margin-bottom: 0px;
}
.fs55 { font-size: 55px; line-height: 65px };
.fs34 { font-size: 34px; line-height: 40px };
.fs26 { font-size: 26px; line-height: 38px };
.fs22 { font-size: 22px; line-height: 30px };
.fs18 { font-size: 18px; line-height: 22px };
.fs13 { font-size: 13px; line-height: 16px };
.fw100 { font-weight: 100 }
.fw300 { font-weight: 300 }
.fw500 { font-weight: 500 }
.fw900 { font-weight: 900 }
.padding-bottom50 { padding-bottom: 50px }
.justify-flex{ -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.justify-flex-vert{ -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.caption {
    display: block;
    color: $steel2;
}

.header {border-top: 5px solid #705fc5;border-bottom: 1px solid #eaeaea; background-color: $white; }
.preloader {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  position: fixed;
  overflow: hidden;
  -ms-animation: removePreloader 2s ease-in-out 3.5s;
  animation: removePreloader 2s ease-in-out 3.5s;
  animation-fill-mode: forwards;
  z-index: 9999;
  svg{
        width: 70vw;
  }
 }
.section { padding: 0 80px };
#section1 {
  .h2,h2{
    text-align: left;
    float: left;
  }
  .h2-0{ margin-bottom: 40px }
  .column{ padding: 0 10px; z-index: 2 };
  .sc1-img{
    display: inline-block;
  };
  .sc1-img4{
    width:408px;
     height:344px;
  }
  p {
    b{
      @extend .fw900; color: $dGray;
    }
     @extend .fs22; display: inline-block;
  };
  padding-top: 70px;
  padding-bottom: 140px;
 };
#section2 {
  .wallet{ margin-top: 20px; width: 145px; }
  .item { padding-bottom: 60px; }
  .h2 { @extend .fs34; padding-bottom: 75px;}
  .caption  { @extend .fs22; @extend .fw300; padding-top: 30px;}
  background-color: $paleGray; padding: 100px 0;};
  #section3 {
  .h2 { @extend .fs34; padding-bottom: 30px; }
  .caption strong { @extend .fs22; line-height: 30px; }
  .caption { @extend .fs18; @extend .fw100; line-height: 30px; }
  .caption-row-2 { font-size: 22px; line-height: 30px; }
  .caption-row-2::before{
    content: none!important
  }
  .caption::before{
    content: " ";
    background: #705fc5;
    position: relative;
    top: 20px;
    left: -20px;
    border-radius: 25px;
    display: block;
    height: 10px;
    width: 10px;
  }
  background-color: $white; padding: 100px 0;
}
#section4 {
  .sc4-form { padding: 50px; background-color: #f3f5f9; border-radius: 10px;}
  .h2 strong { @extend .fs34; color: $white;}
  .caption {
    strong { @extend .fs22; line-height: 58px; }
  }
  span {
    font-family: MuseoSansCyrl;
font-size: 20px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
color: $dGray;
  }
  .control:not(:last-child) {
    margin-bottom: 30px;
}
textarea,input {
  margin-top: 10px;
  font-size: 20px;
  padding: 16px 20px;
  height: inherit;
  box-shadow: none;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d5dce0;
  color: $dGray;
}
  background: -webkit-linear-gradient(323deg, #705fc5, #3d9ee8, #45bd62);
  background: linear-gradient(127deg, #705fc5, #3d9ee8, #45bd62);
  background-size: 400% 400%;
  -webkit-animation: dynColorChangeBG 10s ease infinite;
  animation: dynColorChangeBG 10s ease infinite;
  padding: 100px 0;}
.h1 { @extend .fs55, .fw900; color: $dGray; margin: 0 0 30px 0;};
.h2 { @extend .fs26, .fw300; color: $steel; text-align: center;}

.iris-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: $iris;
  padding: 16px 20px 18px 20px;
  width: 210px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $white;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
      margin: 40px 0 100px;
      outline: none;
  &:hover {
    background: #6e62ab;
    box-shadow: 0 20px 25px -10px #705fc5;
    -webkit-transform: scale3d(1.06, 1.06, 1);
            transform: scale3d(1.06, 1.06, 1);
  }
};
#section4 .iris-button{
  margin: 10px 0;
}
footer .has-text-left{
      margin-top: 12px;
}





#wtlogo{

  position: absolute;
  left: 50%;
  top:50%;
  z-index: 1;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-animation: zoomIn 3400ms cubic-bezier(.36,.07,.19,.97);
          animation: zoomIn 3400ms cubic-bezier(.36,.07,.19,.97);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

}
.circle-inner{
-webkit-animation: scaleCircleInner 2000ms ease;
        animation: scaleCircleInner 2000ms ease;
-webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
-webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
@extend .transOrigin;
}
.diamond-inner{
-webkit-animation: scaleDiamondInner 2000ms ease;
        animation: scaleDiamondInner 2000ms ease;
-webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
-webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
@extend .transOrigin;
}
.rect-inner{
-webkit-animation: scaleRectInner 2000ms ease;
        animation: scaleRectInner 2000ms ease;
-webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
-webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
@extend .transOrigin;
}
#circle{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
          animation: strokeFill 2200ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#diamond{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;

          animation: strokeFill 2000ms ease-in-out;

          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#square{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;

          animation: strokeFill 2000ms ease-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
          animation-fill-mode: forwards;
}

.line-show{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
  -webkit-animation: strokeFill 2000ms ease-in-out;
          animation: strokeFill 2000ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.sc3-arrow{
  stroke-dasharray: 260px;
  stroke-dashoffset: 540px;
  -webkit-animation: strokeFillIcons 5000ms ease-in-out alternate infinite;
          animation: strokeFillIcons 5000ms ease-in-out alternate infinite;
}

.sc1-path-wrap{
  position: absolute;
      height: 822px;
      width: 877px;
      margin: auto;
      text-align: center;
      -webkit-transform: scaleY(1.2) translateY(-50%) translateX(-50%);
              transform: scaleY(1.2) translateY(-50%) translateX(-50%);
      left: 47%;
      top: 83%;
      z-index: 0;
}
.sc1-path-bg{
  stroke-dasharray: 10px;
stroke-dashoffset: 1000px;
-webkit-animation: strokeFillIcons 20000ms linear infinite;
        animation: strokeFillIcons 20000ms linear infinite;
}

@media screen and (min-width: 2100px) {
  .sc1-path-wrap {
      -webkit-transform: scaleY(1.2) scaleX(1.2) translateY(-50%) translateX(-50%);
              transform: scaleY(1.2) scaleX(1.2) translateY(-50%) translateX(-50%);
  }
}

@media screen and (min-width: 1180px) {
.container {
    max-width: 80vw;
}
}
@media (min-width: 980px) {

  .h2-0{ margin-bottom: 70px;  width: inherit!important; }
  .h2-1{ margin-top: 27px }
  .sc1-img1{ position: absolute; }
  .sc1-img2{ position: relative; left: -190px; bottom: -39px; }
  .sc1-row2 { height: 320px; }
  .sc1-img3 { position: absolute; margin-left: -123px; margin-top: 52px; }
  .sc1-row3 { height: 250px; }
  .section1 column { text-align: center; }
  #section1 .h2 { width: 250px }
}

@media (max-width: 1630px) {
  .sc1-img1 {
    position: absolute;
    margin-left: -151px;
    margin-top: 88px;
  }
  .sc1-img3{
    position: relative;
    margin-left: -33px;
    margin-top: 52px;
  }
}
@media (max-width: 1450px) {
  //   #section1 .sc1-img {
  //     -webkit-transform: scale(0.7);
  //             transform: scale(0.7);
  // }
  .sc1-path-wrap{
    position: absolute;
    height: 822px;
    width: 877px;
    margin: auto;
    text-align: center;
    -webkit-transform: scale(0.8) scaleY(1.4) translateY(-50%) translateX(-50%);
            transform: scale(0.8) scaleY(1.4) translateY(-50%) translateX(-50%);
    left: 39%;
    top: 78%;
    z-index: 0;
  }
  .sc1-row3 {
    height: 195px;
}
.sc1-img3{
  margin-top: 34px;
margin-left: -10px;
}
}
@media (max-width: 980px) {
  .sc1-img3{
  }
  .sc1-path-wrap{
    display: none;
  }
  .sc1-img1 {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
  }
  .h2-0{
    margin-bottom: 0px!important;
    text-align: center!important;
  }
  #section1 .h2 {
    float: none;
    text-align: center;
  }
#section1 .column{
  text-align: center;
}
#section1 img {
  padding: 60px 30px 100px;
}
.section{
  padding: 100px 50px!important;
}
.sc1-row3{
  height: 530px!important;
}
}
@media (max-width: 503px) {
  .h2-0{
    font-size: 20px!important;
    line-height: 30px!important;
  }
  .section {
    padding: 90px 15px!important;
}
#section1 .h1 {
    font-size: 35px;
    line-height: 40px;
}
.preloader svg {
    width: 85vw;
}
#section3 .item{
      padding-left: 20px;
}
hr{
  margin: 50px auto;
}
.sc4-form {
    padding: 25px!important;
  }

  textarea,input {
    font-size: 14px!important;
  }
}

@-webkit-keyframes dynColorChangeBG {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}
@keyframes dynColorChangeBG {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}

@-webkit-keyframes scaleCircleInner {
  0%,100% {
      -webkit-transform: translate(0%,0%) scale3d(0, 0, 1);
              transform: translate(0%,0%) scale3d(0, 0, 1);
  }


  30%,70% {
      -webkit-transform: translate(0%,0%) scale3d(1, 1, 1);
              transform: translate(0%,0%) scale3d(1, 1, 1);
  }
}

@keyframes scaleCircleInner {
  0%,100% {
      -webkit-transform: translate(0%,0%) scale3d(0, 0, 1);
              transform: translate(0%,0%) scale3d(0, 0, 1);
  }


  30%,70% {
      -webkit-transform: translate(0%,0%) scale3d(1, 1, 1);
              transform: translate(0%,0%) scale3d(1, 1, 1);
  }
}


@keyframes scaleRectInner {
  0%,80%,100% {
      -webkit-transform: translate(0%,0%) scale3d(0, 0, 1);
              transform: translate(0%,0%) scale3d(0, 0, 1);
  }


  30%,70% {
      -webkit-transform: translate(0%,0%) scale3d(1, 1, 1);
              transform: translate(0%,0%) scale3d(1, 1, 1);
  }
}
@-webkit-keyframes scaleDiamondInner {
  0%,100% {
    -webkit-transform: translate(-0%,-0%) scale3d(0, 0, 1);
            transform: translate(-0%,-0%) scale3d(0, 0, 1);
  }


  30%,70% {
      -webkit-transform: translate(0%,0%) scale3d(1, 1, 1);
              transform: translate(0%,0%) scale3d(1, 1, 1);
  }
}
@keyframes scaleDiamondInner {
  0%,100% {
    -webkit-transform: translate(-0%,-0%) scale3d(0, 0, 1);
            transform: translate(-0%,-0%) scale3d(0, 0, 1);
  }


  30%,70% {
      -webkit-transform: translate(0%,0%) scale3d(1, 1, 1);
              transform: translate(0%,0%) scale3d(1, 1, 1);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(1.4, 1.4, 1);
            transform: translate(-50%, -50%) scale3d(1.4, 1.4, 1);
  }

  30%,70% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
  100% {
    -webkit-filter: blur(100px);
            filter: blur(100px);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(.4, .4, 1);
            transform: translate(-50%, -50%) scale3d(.4, .4, 1);
  }
}
@keyframes zoomIn {
  0% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(1.4, 1.4, 1);
            transform: translate(-50%, -50%) scale3d(1.4, 1.4, 1);
  }

  30%,70% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
  100% {
    -webkit-filter: blur(100px);
            filter: blur(100px);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(.4, .4, 1);
            transform: translate(-50%, -50%) scale3d(.4, .4, 1);
  }
}




@-ms-keyframes removePreloader {
  0% {
            transform: scale(3) skewX(-45deg) translate(0%,0%);
  }
  100%{
            transform: scaleX(3) skewX(-45deg) translate(-500%,0);
  }
}




@keyframes removePreloader {
  from {
            transform: scale(4) rotate(45deg) translateX(0);

  }
  to{
            transform: scaleX(4) rotate(45deg) translateX(-5000px);

  }
}

@-webkit-keyframes strokeFill {
  0%,100% {
    stroke-dashoffset: 1000px;
  }
  30%,70% {
    stroke-dashoffset: 0px;
  }
}

@keyframes strokeFill {
  0%,100% {
    stroke-dashoffset: 1000px;
  }
  30%,70% {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes strokeFillIcons {
  to {
      stroke-dashoffset: 0px;
    }
}

@keyframes strokeFillIcons {
  to {
      stroke-dashoffset: 0px;
    }
}
.svg1-iris-ballon{
  position: absolute!important;
  animation: Floating 5s ease-in-out infinite;
}
.svg1-blue-ballon{
  position: absolute!important;
  animation: Floating 5s ease-in-out infinite 0.6s;
}
.svg-buzz{
  position: absolute;
  animation: buzz 6s ease infinite;
}
.svg-buzz-2{
  position: absolute;
  animation: buzz 6s ease infinite 1.6s;
}

@keyframes Floating{
    from,to {transform:translate(-0px, 0px);}
    65% {transform:translate(-0px, 15px);}

}

@keyframes buzz {
  0% {
    transform: translateY(0px);
  }
  81% {
    transform: translateY(0px);
  }
  82% {
    transform: translateY(3px);
  }
  84% {
    transform: translateY(-3px);
  }
  86% {
    transform: translateY(3px);
  }
  88% {
    transform: translateY(-3px);
  }
  90% {
    transform: translateY(2px);
  }
  92% {
    transform: translateY(-2px);
  }
  94% {
    transform: translateY(2px);
  }
  96% {
    transform: translateY(-2px);
  }
  98% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

.svg2-crane{
  position: absolute;
  animation: craneMove 15s ease-in-out infinite;
}
.svg2-constuct{

}
.svg2-brick{
  position: absolute;
  animation: swinging 5s ease-in-out infinite;
  transform-origin: top;
  left: 304px;
  top: 130px;

}


@keyframes craneMove{
  0%,100% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(40px, 40px);
  }
  50% {
    transform: translate(-30px, -10px);
  }
  60% {
    transform: translate(-20px, 20px);
  }
  70% {
    transform: translate(10px, -22px);
  }
  90% {
    transform: translate(-100px, -20px);
  }
}

@keyframes swinging{
    0%,100%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg);}
}

#svg3-card-actual
{
  position: absolute;
top: 0;
left: 0;
  animation: cardInActual 5s infinite alternate ease-in-out;
}
#svg3-card-relf
{
  position: absolute;
top: 0;
left: 0;
  animation: cardInRefl 5s infinite alternate ease-in-out;
}


@keyframes cardInActual{
0% {
  transform: translate(0, 0);
}
70% {
  transform: translate(0, 0);
}
80% {
  transform: translate(30px, -17.5px);
}
100% {
  transform: translate(30px, -17.5px);
}
}

@keyframes cardInRefl{
100% {
  transform: translate(0, 0);
}
80% {
  transform: translate(0, 0);
}
70% {
  transform: translate(30px, -17.5px);
}
0% {
  transform: translate(30px, -17.5px);
}
}

#svg3-screen{
  position: absolute;
top: 0;
left: 0;
  animation: screenFill 5s infinite alternate ease-in-out;
}

.svg3-other,.svg3-screen-refl{
  position: absolute;
top: 0;
left: 0;
}

@keyframes screenFill{
  100% {
    fill: #008a3e;
  }
  80% {
    fill: #00be60;
  }

  80% {
    fill: #292b2c;
  }

  85% {
    fill: #00be60;
  }
  75% {
    fill: #292b2c;
  }
60% {
    fill: #ffa02b;
}
49% {
  fill: #292b2c;
}
0% {
  fill: #292b2c;
}
}

#svg3-fakeframe{
  position: absolute;
top: 0;
left: 0;
}

.svg4-other{
  position: absolute;
  top: 0;
  left: 0;
}

#svg4-steam1{
position: absolute;
top:-10px;
left:-7px;
animation: moveAndFade 5s ease-in-out infinite;
}

#svg4-steam2{
  position: absolute;
  top:-15px;
  left: -5px;
  animation: moveAndFade 2s ease-in-out infinite 0.2s;
}

#svg4-steam3{
  position: absolute;
  top:-10px;
  left: 10px;
  animation: moveAndFade 2s ease-in-out infinite 0.3s;
}

@keyframes moveAndFade {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      transform: translateY(-10px);
      opacity: 0;
    }
}

.svg4-graph-top{
animation: moveTop 4s infinite alternate ease-in-out;
}

.svg4-graph-side{
animation: scaleSide 4s infinite alternate ease-in-out;
transform-origin: bottom;
}

.svg4-graph-top-Blue{
animation: moveTopBlue 4s infinite alternate ease-in-out;
}

.svg4-graph-side-Blue{
animation: scaleSideBlue 4s infinite alternate ease-in-out;
transform-origin: bottom;
}

.svg4-graph-top-Orange{
animation: moveTopOrange 4s infinite alternate ease-in-out;
}

.svg4-graph-side-Orange{
animation: scaleSideOrange 4s infinite alternate ease-in-out;
transform-origin: bottom;
}

.svg4-graph-top-Yellow{
animation: moveTopYellow 4s infinite alternate ease-in-out;
}

.svg4-graph-side-Yellow{
animation: scaleSideYellow 4s infinite alternate  ease-in-out;
transform-origin: bottom;
}

@keyframes moveTop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(133px);
    }
    75% {
      transform: translateY(66.5px);
    }
    100% {
      transform: translateY(177.3px);

    }
}

@keyframes moveTopBlue {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(50.28px);
    }
    75% {
      transform: translateY(100.56px);
    }
    100% {
      transform: translateY(134px);

    }
}

@keyframes moveTopOrange {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(62px);
    }
    75% {
      transform: translateY(24.8px);
    }
    100% {
      transform: translateY(62px);

    }
}

@keyframes moveTopYellow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(44.9px);
    }
    75% {
      transform: translateY(35.92px);
    }
    100% {
      transform: translateY(62.86px);

    }
}

@keyframes scaleSide {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.4);
    }
    75% {
      transform: scaleY(0.7);
    }
    100% {
      transform: scaleY(0.2);

    }
}
@keyframes scaleSideBlue {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.7);
    }
    75% {
      transform: scaleY(0.4);
    }
    100% {
      transform: scaleY(0.2);

    }
}
@keyframes scaleSideOrange {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.5);
    }
    75% {
      transform: scaleY(0.8);
    }
    100% {
      transform: scaleY(0.5);

    }
}

@keyframes scaleSideYellow {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.5);
    }
    75% {
      transform: scaleY(0.6);
    }
    100% {
      transform: scaleY(0.3);

    }
}
