
@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('MuseoSansCyrl-900.eot');
	src: local('Museo Sans Cyrl 900'), local('MuseoSansCyrl-900'),
		url('MuseoSansCyrl-900.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('MuseoSansCyrl-500.eot');
	src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'),
		url('MuseoSansCyrl-500.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('MuseoSansCyrl-100.eot');
	src: local('Museo Sans Cyrl 100'), local('MuseoSansCyrl-100'),
		url('MuseoSansCyrl-100.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'MuseoSansCyrl';
	src: url('MuseoSansCyrl-300.eot');
	src: local('Museo Sans Cyrl 300'), local('MuseoSansCyrl-300'),
		url('MuseoSansCyrl-300.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
