
$iris: #705fc5;
$green: #45bd62;
$lightBlue: #3d9ee8;
$dGray: #292b2d;
$silver: #cccfd5;
$steel: #83879e;
$steel2: rgba(121, 128, 142, 0.8);
$paleGray: #f4f5fa;
$white: #ffffff;

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}
.disabled{
  display: none;
}
.section{
  padding: 100px 50px;
}
.transOrigin{
-webkit-transform-origin: 305px 160px;
        transform-origin: 305px 160px;
}

@include placeholder {
    color: $silver;
}

.overflowyhid{
  overflow-y: hidden;
}

textarea, input, html, body { font-family: 'MuseoSansCyrl';text-shadow: 0 0 0.05px #d7d9ea;/*font-size: calc(1rem + 2vw);*/ };
hr {
    background-color: #eaeaea;
    border: none;
    display: block;
    height: 1px;
    margin: 100px auto;
    width: 90vw;
};
footer{
  color: $dGray;
  font-weight: 500;
  background-color: $white;
  padding: 26px 60px;
}
.level:not(:last-child) {
margin-bottom: 0px;
}
.fs55 { font-size: 55px; line-height: 65px };
.fs34 { font-size: 34px; line-height: 40px };
.fs26 { font-size: 26px; line-height: 38px };
.fs22 { font-size: 22px; line-height: 30px };
.fs18 { font-size: 18px; line-height: 22px };
.fs13 { font-size: 13px; line-height: 16px };
.fw100 { font-weight: 100 }
.fw300 { font-weight: 300 }
.fw500 { font-weight: 500 }
.fw900 { font-weight: 900 }
.padding-bottom50 { padding-bottom: 50px }
.justify-flex{ -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.justify-flex-vert{ -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.caption {
    display: block;
    color: $steel2;
}

.header {border-top: 5px solid #705fc5;border-bottom: 1px solid #eaeaea; background-color: $white; }
.preloader {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  position: fixed;
  overflow: hidden;
  -ms-animation: removePreloader 2s ease-in-out 3s;
  animation: removePreloader 2s ease-in-out 3s;
  animation-fill-mode: forwards;
  z-index: 9999;
  svg{
        width: 70vw;
  }
 }
#section1 {
  .svg-outter{
    position: relative;
  }
  .h2market{
        margin: 0px 50px
  }
  .h2,h2{
    text-align: left;
    float: left;
  }
  .sc1-row1,.sc1-row3{ text-align: right;}
  .h2-0{ margin-bottom: 40px; font-weight: 500; }
  .column{ padding: 0 10px; z-index: 2 };
  .sc1-img{
    display: inline-block;
  };
  .sc1-img4{
     height:344px;
  }
  p {
    b{
      @extend .fw900; color: $dGray;    line-height: 40px;
    }
     @extend .fs22; display: inline-block;
  };
  padding-top: 70px;
  padding-bottom: 140px;
 };
#section2 {
  .wallet{ margin-top: 20px; width: 145px; }
  .item { padding-bottom: 60px; }
  .h2 { @extend .fs34; padding-bottom: 75px;}
  .caption  { @extend .fs22; @extend .fw300; padding-top: 30px;}
  background-color: $paleGray;};
  #section3 {
  .h2 { @extend .fs34; padding-bottom: 30px; }
  .caption strong { @extend .fs22; line-height: 40px; }
  .caption { @extend .fs18; @extend .fw300; line-height: 30px; }
  .caption-row-2 { font-size: 22px; line-height: 30px; }
  .caption-row-2::before{
    content: none!important
  }
  .caption::before{
    content: " ";
    background: #705fc5;
    position: relative;
    top: 24px;
    left: -20px;
    border-radius: 25px;
    display: block;
    height: 10px;
    width: 10px;
  }
  background-color: $white;
}
#section4 {
  .input1{
    width: 307px;
  }
  .input2{
    width: 254px;
  }
  .input3{
    width: 337px;
  }
  .sc4-form {       margin: auto;
     padding: 50px; background-color: #f3f5f9; border-radius: 10px;box-shadow: 0 0 112px rgba(#f2f4f9, 0.7);}
  .h2 strong { @extend .fs34; color: $white;}
  .caption {
    strong { @extend .fs22; line-height: 58px; }
  }
  span {
    font-family: MuseoSansCyrl;
font-size: 20px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
color: $dGray;
  }
  .control:not(:last-child) {
    margin-bottom: 30px;
}
textarea,input {
  font-size: 20px;
  padding: 16px 20px;
  height: inherit;
  box-shadow: none;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #d5dce0;
  color: $dGray;
}
textarea{
  display: inline-block;
  min-height: 230px;
}
.control{
  margin-bottom: 10px
}
  background: -webkit-linear-gradient(323deg, #705fc5, #3d9ee8, #45bd62);
  background: linear-gradient(127deg, #705fc5, #3d9ee8, #45bd62);
  background-size: 400% 400%;
  -webkit-animation: dynColorChangeBG 10s ease infinite;
  animation: dynColorChangeBG 10s ease infinite;
  }
.h1 { @extend .fs55, .fw900; color: $dGray; margin: 0 0 30px 0;};
.h2 { @extend .fs26, .fw300; color: $steel; text-align: center;}

.iris-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: $iris;
  padding: 12px 20px 15px 20px;
  width: 210px;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: $white;
  -webkit-transition: 300ms all ease;
  transition: 300ms all ease;
      margin: 40px 0 100px;
      outline: none;
  &:hover {
    background: #6e62ab;
    box-shadow: 0 20px 25px -10px #705fc5;
    -webkit-transform: scale3d(1.06, 1.06, 1);
            transform: scale3d(1.06, 1.06, 1);
  }
};
#section4 .iris-button{
  margin: 10px 0;
}
footer .has-text-left{
      margin-top: 12px;
}


#wtlogogif{

  position: absolute;
  left: 50%;
  top:50%;
  z-index: 1;
  transform: translate(-50%,-50%);
}


#wtlogo{

  position: absolute;
  left: 50%;
  top:50%;
  z-index: 1;
  transform: translate(-50%,-50%);
  animation: zoomIn 2900ms cubic-bezier(.36,.07,.19,.97);
  animation-fill-mode: forwards;

}
.circle-inner{

        animation: scaleCircleInner 2000ms ease;

        animation-delay: 0.2s;
        animation-fill-mode: forwards;
-webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
@extend .transOrigin;
}
.diamond-inner{
-webkit-animation: scaleDiamondInner 2000ms ease;
        animation: scaleDiamondInner 2000ms ease;
-webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
-webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
@extend .transOrigin;
}
.rect-inner{
-webkit-animation: scaleRectInner 2000ms ease;
        animation: scaleRectInner 2000ms ease;
-webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
-webkit-transform: scale3d(0, 0, 1);
        transform: scale3d(0, 0, 1);
@extend .transOrigin;
}
#circle{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
          animation: strokeFill 2200ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#diamond{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;

          animation: strokeFill 2000ms ease-in-out;

          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#square{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;

          animation: strokeFill 2000ms ease-out;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
          animation-fill-mode: forwards;
}

.line-show{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px;
  -webkit-animation: strokeFill 2000ms ease-in-out;
          animation: strokeFill 2000ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.sc3-arrow{
  stroke-dasharray: 296px;
  stroke-dashoffset: 590px;
  animation: strokeFillIcons 5000ms ease-in-out alternate infinite;
}

.sc1-path-wrap{
  position: absolute;
      height: 822px;
      width: 877px;
      margin: auto;
      text-align: center;
      transform: scaleY(1.3) translateY(-50%) translateX(-50%);
      left: 47%;
      top: 85%;
      z-index: 0;
}
.sc1-path-bg{
  stroke-dasharray: 10px;
stroke-dashoffset: 1000px;
-webkit-animation: strokeFillIcons 20000ms linear infinite;
        animation: strokeFillIcons 20000ms linear infinite;
}

@media (min-width: 2280px) {
.sc1-img1{
            right: 180px!important
  }

  .sc1-img3{
              left: -111px!important
    }
}

@media screen and (min-width: 2100px) {
  .sc1-img1{
              right: 346px!important
    }

    .sc1-img3{
                left: -241px!important
      }
  }
  .sc1-path-wrap {
      -webkit-transform: scaleY(1.2) scaleX(1.2) translateY(-50%) translateX(-50%);
              transform: scaleY(1.2) scaleX(1.2) translateY(-50%) translateX(-50%);
  }
}

@media screen and (min-width: 1180px) {
.container {
    max-width: 80vw;
}
}
@media (min-width: 980px) {

  #section4 textarea {
     min-width: 500px;
}

  #section4 .sc4-form {
    margin: auto;
    min-width: 772px;
    width: 772px;}

  .h2-0{ margin-bottom: 70px;  width: 690px!important; }
  .h2-1{ margin-top: 27px }
  .sc1-img1{ position: absolute;     right: 52px; margin-top: -19px; }
  .sc1-img2{ position: relative; left: -190px; bottom: -39px; }
  .sc1-row2 { height: 320px; }
  .sc1-img3 { position: relative; margin-left: -123px; margin-top: 52px; left: -12px; }
  .sc1-row3 { height: 250px; text-align: center;}
  .section1 column { text-align: center; }
  #section1 .h2 { width: 250px }
}

@media (max-width: 1630px) {
  .sc1-img1 {
    position: absolute;
    margin-left: -343px;
    margin-top: 47px;
  }
  .sc1-img3{
    position: relative;
    margin-left: -33px;
    margin-top: 52px;
  }
}
@media (max-width: 1450px) {
  .sc1-img2 {
    left: -293px;
}
  .sc1-path-wrap{
    position: absolute;
    height: 822px;
    width: 877px;
    margin: auto;
    text-align: center;
    transform: scale(0.8) scaleY(1.4) translateY(-50%) translateX(-50%);
    left: 38%;
    top: 76%;
    z-index: 0;
  }
  .sc1-row3 {
    height: 195px;
}
.sc1-img3{
  margin-top: 17px;
      margin-left: -32px;
}
.sc1-img1 {
    right: 0px
}
}

    @media (max-width: 1180px) {

  }
@media (max-width: 980px) {
  .svg-outter{
    margin-top: -70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: scale(0.8) translateY(-50%) translateX(-50%);
    transform-origin: left;
  }
  #section4 textarea {
}

  .iris-button {
    margin: 40px 0 60px;
  }

  .heading-outter{
        padding: 20px 0;
        background-color: $white;
  }

  .sc1-img3 {
    left: 20px;
}
  .sc1-path-wrap{
    display: none;
  }
  .sc1-img1 {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
  }
  .h2-0{
    margin-bottom: 0px!important;
    text-align: center!important;
  }
  #section1{
    padding-bottom: 20px;
    .h2 {
    float: none;
    text-align: center;
  }
}
#section1 .column{
  text-align: center;
}

.sc1-row3{
  height: 460px!important;
}
}
@media (max-width: 503px) {
.input1,.input2,.input3{
    width: 100%!important;
  }

  .h2market{
        margin: 0 0!important
  }
  .svg-outter{
    transform: scale(0.7) translateY(-50%) translateX(-50%);

  }
  .h2-0{
    font-size: 20px!important;
    line-height: 30px!important;
  }

  .section {
    padding: 90px 40px 50px;
}
#section1 .h1 {
    font-size: 35px;
    line-height: 40px;
}
.preloader svg {
    width: 100vw;
}

hr{
  margin: 50px auto;
}
.sc4-form {
    padding: 25px!important;
  }

  textarea,input {
    font-size: 16px!important;
  }
}
@media (max-width: 460px) {
  .section#section4 {
    padding: 90px 10px 50px!important
}
}

@keyframes dynColorChangeBG {
    0%{background-position:0% 9%}
    50%{background-position:100% 92%}
    100%{background-position:0% 9%}
}


@keyframes scaleCircleInner {
  0%,100% {
      -webkit-transform: translate(0%,0%) scale3d(0, 0, 1);
              transform: translate(0%,0%) scale3d(0, 0, 1);
  }


  30%,70% {
      -webkit-transform: translate(0%,0%) scale3d(1, 1, 1);
              transform: translate(0%,0%) scale3d(1, 1, 1);
  }
}


@keyframes scaleRectInner {
  0%,80%,100% {
      -webkit-transform: translate(0%,0%) scale3d(0, 0, 1);
              transform: translate(0%,0%) scale3d(0, 0, 1);
  }


  30%,70% {
      -webkit-transform: translate(0%,0%) scale3d(1, 1, 1);
              transform: translate(0%,0%) scale3d(1, 1, 1);
  }
}

@keyframes scaleDiamondInner {
  0%,100% {
    -webkit-transform: translate(-0%,-0%) scale3d(0, 0, 1);
            transform: translate(-0%,-0%) scale3d(0, 0, 1);
  }


  30%,70% {
      -webkit-transform: translate(0%,0%) scale3d(1, 1, 1);
              transform: translate(0%,0%) scale3d(1, 1, 1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(1.4, 1.4, 1);
            transform: translate(-50%, -50%) scale3d(1.4, 1.4, 1);
  }

  30%,70% {
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
  }
  100% {
    -webkit-filter: blur(100px);
            filter: blur(100px);
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale3d(.4, .4, 1);
            transform: translate(-50%, -50%) scale3d(.4, .4, 1);
  }
}

@keyframes removePreloader {
  from {
            transform: scale(4) rotate(45deg) translateX(0);

  }
  to{
            transform: scaleX(4) rotate(45deg) translateX(-5000px);

  }
}

@keyframes strokeFill {
  0%,100% {
    stroke-dashoffset: 1000px;
  }
  30%,70% {
    stroke-dashoffset: 0px;
  }
}


@keyframes strokeFillIcons {
  0% {
      stroke-dashoffset: 540px;
    }

    30% {
        stroke-dashoffset: 0px;
      }


  100% {
      stroke-dashoffset: 0px;
    }
}
.svg1-iris-ballon{
  position: absolute!important;
  animation: Floating 5s ease-in-out infinite;
}
.svg1-blue-ballon{
  position: absolute!important;
  animation: Floating 5s ease-in-out infinite 0.6s;
}
.svg-buzz{
  position: absolute;
  animation: buzz 6s ease infinite;
}
.svg-buzz-2{
  position: absolute;
  animation: buzz 6s ease infinite 1.6s;
}

@keyframes Floating{
    from,to {transform:translate(-0px, 0px);}
    65% {transform:translate(-0px, 15px);}

}

@keyframes buzz {
  0% {
    transform: translateY(0px);
  }
  81% {
    transform: translateY(0px);
  }
  82% {
    transform: translateY(3px);
  }
  84% {
    transform: translateY(-3px);
  }
  86% {
    transform: translateY(3px);
  }
  88% {
    transform: translateY(-3px);
  }
  90% {
    transform: translateY(2px);
  }
  92% {
    transform: translateY(-2px);
  }
  94% {
    transform: translateY(2px);
  }
  96% {
    transform: translateY(-2px);
  }
  98% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0px);
  }
}

.svg2-crane{
  position: absolute;
  animation: craneMove 15s ease-in-out infinite;
}
.svg2-constuct{

}
.svg2-brick{
  position: absolute;
  animation: swinging 5s ease-in-out infinite;
  transform-origin: top;
  left: 304px;
  top: 130px;

}


@keyframes craneMove{
  0%,100% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(40px, 40px);
  }
  50% {
    transform: translate(-30px, -10px);
  }
  60% {
    transform: translate(-20px, 20px);
  }
  70% {
    transform: translate(10px, -22px);
  }
  90% {
    transform: translate(-100px, -20px);
  }
}

@keyframes swinging{
    0%,100%{transform: rotate(10deg);}
    50%{transform: rotate(-10deg);}
}

#svg3-card-actual
{
  position: absolute;
top: 0;
left: 0;
  animation: cardInActual 5s infinite alternate ease-in-out;
}
#svg3-card-relf
{
  position: absolute;
top: 0;
left: 0;
  animation: cardInRefl 5s infinite alternate ease-in-out;
}


@keyframes cardInActual{
0% {
  transform: translate(0, 0);
}
70% {
  transform: translate(0, 0);
}
80% {
  transform: translate(30px, -17.5px);
}
100% {
  transform: translate(30px, -17.5px);
}
}

@keyframes cardInRefl{
100% {
  transform: translate(0, 0);
}
80% {
  transform: translate(0, 0);
}
70% {
  transform: translate(30px, -17.5px);
}
0% {
  transform: translate(30px, -17.5px);
}
}

#svg3-screen{
  position: absolute;
top: 0;
left: 0;
  animation: screenFill 5s infinite alternate ease-in-out;
}

.svg3-other,.svg3-screen-refl{
  position: absolute;
top: 0;
left: 0;
}

@keyframes screenFill{
  100% {
    fill: #008a3e;
  }
  80% {
    fill: #00be60;
  }

  80% {
    fill: #008a3e;
  }

  78% {
    fill: #00be60;
  }
73% {
  fill: #292b2c;
}
0% {
  fill: #292b2c;
}
}

#svg3-fakeframe{
  position: absolute;
top: 0;
left: 0;
}

.svg4-other{
  position: absolute;
  top: 0;
  left: 0;
}


.svg4-graph-top{
animation: moveTop 7s infinite alternate ease-in-out;
}

.svg4-graph-side{
animation: scaleSide 7s infinite alternate ease-in-out;
transform-origin: bottom;
}

.svg4-graph-top-Blue{
animation: moveTopBlue 7s infinite alternate ease-in-out 0.4s;
}

.svg4-graph-side-Blue{
animation: scaleSide 7s infinite alternate ease-in-out 0.4s;
transform-origin: bottom;
}

.svg4-graph-top-Orange{
animation: moveTopOrange 7s infinite alternate ease-in-out 0.8s;
}

.svg4-graph-side-Orange{
animation: scaleSide 7s infinite alternate ease-in-out 0.8s;
transform-origin: bottom;
}

.svg4-graph-top-Yellow{
animation: moveTopYellow 7s infinite alternate ease-in-out 1.2s;
}

.svg4-graph-side-Yellow{
animation: scaleSide 7s infinite alternate  ease-in-out 1.2s;
transform-origin: bottom;
}

@keyframes moveTop {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(44.34px);
    }
    75% {
      transform: translateY(22.17px);
    }
    100% {
      transform: translateY(44.34px);

    }
}


@keyframes scaleSide {
    0% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(0.8);
    }
    75% {
      transform: scaleY(0.9);
    }
    100% {
      transform: scaleY(0.8);

    }
}

@keyframes moveTopBlue {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(33.4px);
    }
    75% {
      transform: translateY(16.7px);
    }
    100% {
      transform: translateY(33.4px);
    }
}

@keyframes moveTopOrange {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(24.8px);
    }
    75% {
      transform: translateY(12.4px);
    }
    100% {
      transform: translateY(24.8px);

    }
}

@keyframes moveTopYellow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(17.96px);
    }
    75% {
      transform: translateY(8.98px);
    }
    100% {
      transform: translateY(17.96px);

    }
}
